@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=EB+Garamond:ital@0;1&family=Josefin+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Lexend:wght@200;300;400&family=Lora:ital,wght@0,400;0,600;0,700;1,400&family=Roboto+Mono:ital,wght@0,200;0,400;1,200;1,400&family=Roboto+Serif:ital,opsz@0,8..144;1,8..144&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Shippori+Mincho:wght@500;600;700;800&family=Spectral:ital,wght@0,400;1,200;1,400&family=Zen+Maru+Gothic:wght@300;400&display=swap');

header{
  font-family: 'DotGothic16', sans-serif;
}

body{
  font-family: 'Roboto Serif', serif;
  background-color: #EAF1E8;
  color: #048B89;
}

header img{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

nav{
	font-family: 'DotGothic16', sans-serif;
  color: #6c7c7c;
}

/* Vertical Navigation bar */

nav ul{
  color: #6c7c7c;
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
}
nav li{
	display: inline;
  border: 2px solid #048B89;
  background-color: rgba(4, 139, 137, .1);
  padding: 8px 10px;
  border-radius: 35px;
}
nav li:hover{
  background-color: rgba(4, 139, 137, 1);
}

nav a{
  text-decoration: none;
  color: #6c7c7c;
}

main{
  font-family: 'Roboto Serif', serif;
  text-align: center;
}

h1{
  font-size: 2em;
  text-align: right;
  padding: 10px;
}

h2{
  font-family: 'DotGothic16', sans-serif;
  font-size: 2em;
  text-align: center;
  font-style: italic;
  padding: 20px;
  margin: 10px;
}

p{
  border: 2px solid #B6CA88;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

/* Photo Gallery Starts */
.gallery .preview{
    width:100%;
    height: auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
/* Photo Gallery Ends */

/* Lyric Collage Gallery */

.collage .preview{
    width:100%;
    height: auto;
}

.collages .collage-thumbnails img {
    width:100px;
    height:100px;
    margin: 3px 10px 10px 0;
}

.collages .collage-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.collages .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}


/* Contact Form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid rgba(4, 139, 137, 1);
  border-radius: 20px; /* Rounded borders */
  color: #6c7c7c;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #048B89;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #6c7c7c;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgba(4, 139, 137, .1);
  padding: 20px;
}





a:link{
  color: #6C7C7C;
}
a:visited{
  color: #6c7c7c;
}
a:hover{
  color: #B6CA88;
}
a:active{
  color: #E86C38;
}

footer{
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  border-top: 1px solid #B6CA88;
  padding: 20px
}


/*CSS without a media query--applies to all sizes unless overridden*/

h1{
    font-size: 4em;
 }

/* CSS Adjustments for Tablets */

@media only screen and (max-width: 1024px) {
  h1{
    font-size: 2em;
  }
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}